*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
html{
    width: 100%;
    height: 100%;
}
body{
    width: 100%;
    height: 100%;
}
section{
    margin-top: 5%;
    width: 100%;
    height: 550px;
    background-color: #555555;
    display: flex;
    flex-direction: row;
}
aside{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
aside img{
    width: 80%;
    height: 95%;
}
article{
    height: 100%;
    width: 70%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}
article div{
    width: 95%;
    text-align: left;
    margin-left: 5%;
    margin-bottom: 10%;
}
.description{
    width: 100%;
    height: 300px;
    padding: 2% 5%;
}
.description h1{
    font-family: 'Montserrat', sans-serif;
}
.description p{
    font-family: 'Montserrat', sans-serif;
}