@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
header{
    width: 100%;
    height: 80px;
    background-color: rgb(49, 47, 47);
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
}
header a{
    text-decoration: none;
    color: white;
}
header > div{
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
header div input[type="search"]{
    height: 30px;
    width: 100%;
}
.logo{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo h1{
    font-family: 'Dancing Script', cursive;
}
.search-svg{
    width: 30px;
    height: 35px;
    transform: rotateY(180deg);
}
.profile{
    display: flex;
    color: white;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    position: relative;
}
.profile img{
    width: 50px;
    height: 50px;
}
.name{
    width: 60%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
.menu__icon{
    position: absolute;
    right: 17.5%;
    top: 47.5%;
    width: 2.5px;
    height: 2.5px;
    border: 10px transparent solid;
    border-top: 10px white solid;
    transform-origin: top;
    transition: all 0.4s ease-in-out;
}
/* * Drop menu */
/*---------------------------------------------*/
/*---------------------------------------------*/
.drop__menu{
    position: absolute;
    right: 7.5%;
    top: 10%;
    background-color: white;
    width: 100px;
    height: 100px;
    display:flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s ease-in-out;
    opacity: 0;
    transform: translateY(-10%);
    overflow: hidden;
    color: black;
}
.drop__menu *{
    overflow: hidden;
}
.drop__menu ul{
    width: 100%;
    height: 100%;
    list-style:none;
}
.drop__menu ul li{
    width: 100%;
    height: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px white black;
}
.drop__menu a{
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: black;
    position: relative;
}
.drop__menu a::before{
    content: '';
    width: 0;
    height: 1%;
    background-color: black;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all 0.4s ease-in;
}
.drop__menu a:hover::before{
    width: 100%;
}
.button__done{
    transform: rotate(180deg) translateY(-10%);
}
.open{
    transform: translateY(0%);
    opacity: 1;
}