@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
*{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
html{
    width: 100%;
    height: 100%;
}
body{
    width: 100%;
    height: 100%;
}
section{
    width: 100%;
    height: 90%;
    background-color: bisque;
    display: flex;
    flex-direction: row;
}
aside{
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
aside ul{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.75rem;
}
aside ul li{
    text-align: center;
    cursor: pointer;
}
aside ul li a{
    text-decoration: none;
    color: black;
}
article{
    height: 100%;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
article > div{
    transition: all 0.4s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
article div form{
    margin-left: 25%;
    width: 50%;
    display: flex;
    flex-direction: column;
}
.block_avatar form input[type='submit']{
    margin-top: 5%;
    padding: 2.5% 5%;
    background-color: transparent;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25rem;
    cursor: pointer;
}
.chooseSetting{
    text-decoration: black underline;
}
.invisiblePage{
    opacity: 0;
    transform: translateX(100%);
    display: none;
}
.result{
    width: 100%;
    text-align: center;
    margin-bottom: 5%;
}
.result img{
    width: 200px;
    height: 200px;
    border-radius: 30px;
}
.block_avatar .btn-tertiary{color:#555;padding:0;line-height:40px;width:300px;margin:auto;display:block;border:2px solid #555}
.block_avatar .btn-tertiary:hover,.example-2 .btn-tertiary:focus{color:#888;border-color:#888}
.block_avatar .input-file{width:.1px;height:.1px;opacity:0;overflow:hidden;position:absolute;z-index:-1}
.block_avatar .input-file + .js-labelFile{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;padding:0 10px;cursor:pointer}
.block_avatar .input-file + .js-labelFile .icon:before{content:"\f093"}
.block_avatar .input-file + .js-labelFile.has-file .icon:before{content:"\f00c";color:#5AAC7B}
.js-fileName{
    font-family: 'Montserrat', sans-serif;
}
.block_name form{
    width: 50%;
    left: 30%;
}
.block_name form input[type='text']{
    margin-bottom: 5%;
    margin-top: 2.5%;
    height: 25px;
    padding-left: 2.5%;
}
.block_name{
    font-family: 'Montserrat', sans-serif;
}
.block_name form input[type='submit']{
    margin-top: 5%;
    padding: 2.5% 5%;
    background-color: transparent;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25rem;
    cursor: pointer;
}

strong{
    font-family: 'Montserrat', sans-serif;
}
